<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <div class="card mt-4">
        <form
          class="card-body"
          [formGroup]="sensorForm"
          (ngSubmit)="onSubmit()"
        >
          <h5 class="card-title" *ngIf="sensorSelected._id === ''">
            Insert a new sensor.
          </h5>
          <h5 class="card-title" *ngIf="sensorSelected._id !== ''">
            Update a sensor.
          </h5>
          <div class="form-group">
            <p>Name</p>
            <input
              type="text"
              placeholder="Name"
              class="form-control"
              formControlName="name"
            />
          </div>

          <div class="form-group" formGroupName="location">
            <p>Location</p>
            <div class="row">
              <div class="col">
                <input
                  type="number"
                  placeholder="Latitude"
                  class="form-control"
                  formControlName="latitude"
                />
              </div>
              <div class="col">
                <input
                  type="number"
                  placeholder="Longitude"
                  class="form-control"
                  formControlName="longitude"
                />
              </div>
            </div>
          </div>

          <div class="form-group">
            <p>Value range</p>
            <div class="row">
              <div class="col">
                <input
                  type="number"
                  placeholder="Maximum value"
                  class="form-control"
                  formControlName="valueMax"
                />
              </div>
              <div class="col">
                <input
                  type="number"
                  placeholder="Minimum value"
                  class="form-control"
                  formControlName="valueMin"
                />
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-around">
            <button type="submit" class="btn btn-primary">Submit</button>

            <input
              type="button"
              *ngIf="sensorSelected._id !== ''"
              (click)="onDelete()"
              class="btn btn-danger"
              value="Delete"
            />

            <input
              type="button"
              (click)="onClear()"
              class="btn btn-secondary"
              value="Clear"
            />
          </div>
        </form>
      </div>
      <div class="mt-4">
        <ul class="list-group">
          <li
            *ngFor="let sensor of sensors"
            class="list-group-item list-group-item-action"
            (click)="onSelected(sensor)"
            [class.active]="sensor._id === sensorSelected._id"
          >
            {{ sensor.name }}
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6 mt-4" *ngIf="sensorSelected._id !== ''">
      <app-sensor-event
        [sensorId]="sensorSelected._id"
        [sensorName]="sensorSelected.name"
      ></app-sensor-event>
    </div>
  </div>
</div>
